<!DOCTYPE html>

<html>

<head>
    <title>Contact</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class = "main-content">
       {{>header}} 
       <p>{{contactText}}</p>
       <p>Email: placeholder@placeholder.com</p>
       <p>Phone: 123-456-7890</p>
       <a href = "facebook.com">Facebook</a>
       <a href = "github.com">Github</a>
        <a href = "instagram.com">Instagram</a>
        <a href = "linkedin.com">LinkedIn</a>
    </div>
    
    {{>footer}}
</body>

</html>