<!DOCTYPE html>

<html>

<head>
    <title>Projects</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class = "main-content">
       {{>header}} 
        <p>Use this page to talk about the various projects you've worked on. 

            </p>
            <h3>Project Name 1</h3>
            <ul>
                <li>Technology Stack used</li>
                <li><a href = "#">Link to project</a></li>
            </ul>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
                anim id est laborum.
            </p>
             <h3>Project Name 2</h3>
            <ul>
                <li>Technology Stack used</li>
                <li><a href = "#">Link to project</a></li>
            </ul>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
                anim id est laborum.
            </p>

             <p>FolioMinimal is a minimalistic template mainly for technology related 
            portfolios. You can quickly create a simple looking portfolio, highlighting details 
            about your education, projects, and work experience. You can add additional pages if you
            like.
            </p>
    </div>
    </div>
    
    {{>footer}}
</body>

</html>