<header>
    
    <h1>{{title}}</h1>
    <a href = "/">FolioMinimal</a>
    <a href = "/about">About</a>
    <a href = "/education">Education</a>
    <a href = "/experience">Experience</a>
    <a href = "/projects">Projects</a>
    <a href = "/contact">Contact</a>
</header>